body {
  margin: 0;

 /* border: dashed 1px red; */

 }
.wrapper {
  margin: auto;
  width: 80%;

  /* border: dashed 1px red; */
}
.header{
  display: flex;
  justify-content: space-between;
}

.logo, .menu {
  display: inline;

  /* border: dashed 1px red; */
  }

.logo {
  padding: 40px 0;
}
.menu {
  display: flex;
  align-items: center;
}
.menu_item {
  padding: 0 13px;
}
.menu_item:last-child {
  padding-right: 0;
}
